$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import 'fonts.scss';
@import 'old.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//css-based selector fade :D

#faqs h3 + div {
  //use a delay
  transition: max-height 5s ease 55s, transform 2s ease;
  height: auto;
  max-height: 0;
  margin: 0 auto;
  transform-origin: top;
  transform-style: preserve-3d;
  
  max-width: 800px;
  
  h4 {
    font-size: 20px;
      -webkit-transition: transform ease 1s;
      -moz-transition: transform ease 1s;
      -ms-transition: transform ease 1s;
      -o-transition: transform ease 1s;
      transition: transform ease 1s;
    &:hover {
      -webkit-transition: transform ease 0.5s;
      -moz-transition: transform ease 0.5s;
      -ms-transition: transform ease 0.5s;
      -o-transition: transform ease 0.5s;
      transition: transform ease 0.5s;
      
      -webkit-transform: skewX(-3deg);
      -moz-transform: skewX(-3deg);
      -ms-transform: skewX(-3deg);
      -o-transform: skewX(-3deg);
      transform: skewX(-3deg);
    }
  }
}

#faqs h3:hover + div {
  max-height: 500px;
  margin: 0 auto;
  -webkit-transition: max-height ease 0.8s;
  -moz-transition: max-height ease 0.8s;
  -ms-transition: max-height ease 0.8s;
  -o-transition: max-height ease 0.8s;
  transition: max-height ease 0.8s;
}
