$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import 'fonts.scss';
@import 'old.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

//css-based selector fade :D

#faqs h3 + div {
  height: auto;
  max-height: 0;
  margin: 0 auto;
  transform-origin: top;
  transform-style: preserve-3d;
  transition: max-height ease 0.8s 0s;
}

#faqs h3.active + div {
  max-height: 500px;
}

#faqs {
  padding-bottom: 15%;
}

//sponsors

.sponsors {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  
  .break-row {
    display: table-row;
    width: 100%;
  }
}

h1.boldh {
  margin: 30px 0;
  font-size: 40px;
  width: 100%;
  font-weight: bold;
}

.sponsor {
  width: 1%;
  min-width: 250px;
  display: table-cell;
  vertical-align: middle;
  padding: 30px;
  
  img {
    max-width: 75%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
  }
}

// fix links not looking like links

a.act-like-a-link {
  color: blue;
  font-size: 100%;
}

.footer-pg {
  padding-top: 5%;
}

@media screen and (max-width: 650px) {
  .text-50x {
    font-size: 75px !important;
  }
  
  .sponsor {
    display: block;
    float: left;
    width: 50%;
    min-height: 130px;
    max-height: 130px;
    min-width: 0;
    padding: 5%;
  }
  
  .break-row {
    display: none !important;
  }
  
}
